
*.opendb
*.user
*.filters
*.vcxproj
*.sln
*.db
*.db-wal
*.db-shm
*.obj
*.idb
*.pdb
*.tlog
*.exe
*.recipe
*.ilk
*.log
for-study-algorithm-by-problem/Debug/for-study-algorithm-by-problem.vcxproj.FileListAbsolute.txt
*.ipch
for-study-algorithm-by-problem/.vs/for-study-algorithm-by-problem/v16/.suo
